.movies{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

@media (max-width: 550px) {
  .posters {
    width: 46%;
  }
}

.moviesposter{
 display: flex;
  margin: 10px;
  padding: 5px;
  /*for the hover effect*/
  position: relative;
  bottom: 0;
  transition: transform 0.2s;
}

.movieposter img {
  width:  200px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
  border: none;
}

.movieposter:hover{
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 550px) {
  .poster {
    width: 46%;
  }
}